body{
    background-size: cover;
}

#footer{
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
}

.tt{
    border-color: red;
    background-color: yellow;
    height: 500px;
    width: 500px;
    
    text-align: center;
    
}
